/* Desktop */
@media only screen and (min-width:1000px) {
  html {
    margin:50px 30% 150px;
  }
}
  
  /* Mobile */
@media only screen and (max-width:1000px) {
  html {
    margin:10px 5% 100px;
  }
  ul {
    padding-left: 10px;
  }
}
  
html {
  /* font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UISymbol", "Noto Color Emoji"; */
  font: 18px/1.5 -apple-system, "Segoe UI";
  background: #FFEEDB;
  color: #1D0B15;
}

a {
  color: #0E402D;
}

#nav {
  text-align:center;
}

#nav ul {
  list-style-type:none; padding:0;
}

#nav ul li {
  display:inline; padding:0 2px;
}

h1, h2, h3, h4, h5, h6 {
  text-align:center;
}

b{
  color:#0E402D;
}

.container{
  text-align: center;
}

img {
  max-width: 80%;
  height: auto;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  text-align:center;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:block;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}